@media (max-width:991px) {
    body.poster {
        margin-top: 60vh;
    }
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    background: transparent;
}

.banner-more-btn {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;
    cursor: pointer;
}
body.poster {
    background-attachment: fixed;
}

.top-5 {
    top: 5px;
}

.btn {
    border: none;
    cursor: pointer;
    /* color: var(--_text);
    background-color: var(--_background); */
    background: #076EFF;
    color: white;
    user-select: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 99em;
    padding: 8px 24px;
    font-size: small;
    appearance: none;
    text-decoration: none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.btn:hover {
    background-color: #185ABC;
}

.editor-btn {
    position: fixed;
    top: 50%;
    right: 10px;
    z-index: 9999;
    border: 0px;
}

#deploy-btn {
    border: none;
    position: fixed;
    z-index: 9999;
    top: 12px;
    right: 12px;
}

#banner {
    height: 100vh;
}
#banner-txt {
    width: fit-content;
    mix-blend-mode: difference;
}

.center-block {
    margin: 0 auto;
    max-width: 600px;
}

.rounded-full{
    border-radius: 9999px;
}


#footer {
    font-size: 100%;
    font-family: Microsoft YaHei,Helvetica,sans-serif;
    -webkit-font-smoothing: antialiased;
    vertical-align: baseline;
    line-height: 1.8;
    color: #cdcece;
}
#footer .icon {
    color: #afb1b0;
}

#footer .bottom-paragh {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical;
}

#footer > h2 {
    color: #fff;
    text-align: center;
}

ul.labeled-icons li {
    margin-bottom: 3em;
    padding-left: 0;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

ul.labeled-icons li svg {
    flex: 0 0 auto;
    margin-right: 2rem;
}

ul.labeled-icons {
    list-style: none;
    padding-left: 0;
}

.footer-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.footer-block p {
    width: 100%;
    text-align: left;
}
#qr-footer {
    width: 180px;
    height: 180px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 20px auto;
}
.auto-color {
    /* --bs-emphasis-color: black;
    color: rgb(from var(--bs-emphasis-color) calc(1 - r) calc(1 - g) calc(1 - b)); */
    color: white;
}