<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{{title}}</title>
        <link href="tailwind_theme/tailwind.css" rel="stylesheet" type="text/css">
        <script>/* Pinegrow Interactions, do not remove */ (function(){try{if(!document.documentElement.hasAttribute('data-pg-ia-disabled')) { window.pgia_small_mq=typeof pgia_small_mq=='string'?pgia_small_mq:'(max-width:767px)';window.pgia_large_mq=typeof pgia_large_mq=='string'?pgia_large_mq:'(min-width:768px)';var style = document.createElement('style');var pgcss='html:not(.pg-ia-no-preview) [data-pg-ia-hide=""] {opacity:0;visibility:hidden;}html:not(.pg-ia-no-preview) [data-pg-ia-show=""] {opacity:1;visibility:visible;display:block;}';if(document.documentElement.hasAttribute('data-pg-id') && document.documentElement.hasAttribute('data-pg-mobile')) {pgia_small_mq='(min-width:0)';pgia_large_mq='(min-width:99999px)'} pgcss+='@media ' + pgia_small_mq + '{ html:not(.pg-ia-no-preview) [data-pg-ia-hide="mobile"] {opacity:0;visibility:hidden;}html:not(.pg-ia-no-preview) [data-pg-ia-show="mobile"] {opacity:1;visibility:visible;display:block;}}';pgcss+='@media ' + pgia_large_mq + '{html:not(.pg-ia-no-preview) [data-pg-ia-hide="desktop"] {opacity:0;visibility:hidden;}html:not(.pg-ia-no-preview) [data-pg-ia-show="desktop"] {opacity:1;visibility:visible;display:block;}}';style.innerHTML=pgcss;document.querySelector('head').appendChild(style);}}catch(e){console&&console.log(e);}})()</script>
    </head>
    <body class="font-light text-gray-500">
        <header>
            <div class="container mx-auto"> 
                <nav class="bg-white flex flex-wrap items-center p-4"> <a href="#" class="font-bold font-serif hover:text-gray-900 inline-flex items-end mr-auto text-gray-700 text-xl uppercase"> <svg xmlns="http://www.w3.org/2000/svg" width="1.75em" height="1.75em" fill="currentColor" viewBox="0 0 400 400" class="inline mr-2">
                            <path d="M400 400H0V200a201.483 201.483 0 014.063-40.307 198.9 198.9 0 0130.094-71.515 200.583 200.583 0 0187.994-72.461 199 199 0 0137.542-11.654 201.952 201.952 0 0180.614 0 198.9 198.9 0 0171.515 30.093 200.583 200.583 0 0172.461 87.994 199 199 0 0111.654 37.542A201.482 201.482 0 01400 200zM200 50c-82.71 0-150 67.29-150 150s67.29 150 150 150h150V200c0-82.711-67.29-150-150-150z"/>
                        </svg> <span class="text-xl">Metro Tower</span> </a> 
                    <button class="hover:bg-secondary-500 hover:text-white px-3 py-2 rounded text-secondary-500 lg:hidden" data-name="nav-toggler" data-pg-ia='{"l":[{"name":"NabMenuToggler","trg":"click","a":{"l":[{"t":"^nav|[data-name=nav-menu]","l":[{"t":"set","p":0,"d":0,"l":{"class.remove":"hidden"}}]},{"t":"#gt# span:nth-of-type(1)","l":[{"t":"tween","p":0,"d":0.2,"l":{"rotationZ":45,"yPercent":300}}]},{"t":"#gt# span:nth-of-type(2)","l":[{"t":"tween","p":0,"d":0.2,"l":{"autoAlpha":0}}]},{"t":"#gt# span:nth-of-type(3)","l":[{"t":"tween","p":0,"d":0.2,"l":{"rotationZ":-45,"yPercent":-300}}]}]},"pdef":"true","trev":"true"}]}' data-pg-ia-apply="$nav [data-name=nav-toggler]"> <span class="block border-b-2 border-current my-1 w-6"></span> <span class="block border-b-2 border-current my-1 w-6"></span> <span class="block border-b-2 border-current my-1 w-6"></span> 
                    </button>                     
                    <div class="lg:flex lg:space-x-4 lg:space-y-0 lg:w-auto space-y-2 w-full hidden lg:items-center" data-name="nav-menu"> 
                        <div class="flex flex-col lg:flex-row"> <a href="#" class="font-light hover:text-secondary-600 lg:px-6 lg:py-4 py-2">Home</a><a href="#" class="font-light hover:text-secondary-600 lg:px-6 lg:py-4 py-2">Apartments</a><a href="#" class="font-light hover:text-secondary-600 lg:px-6 lg:py-4 py-2">Lifestyle</a><a href="#" class="font-light hover:text-secondary-600 lg:px-6 lg:py-4 py-2">Floor Plans</a><a href="#" class="font-light hover:text-secondary-600 lg:px-6 lg:py-4 py-2">About</a><a href="#" class="font-light hover:text-secondary-600 lg:px-6 lg:py-4 py-2">Contact</a> 
                        </div>                         
                    </div>                     
                </nav>                 
            </div>
        </header>
        <main>
            <section class="bg-color3-500 text-gray-700">
                <div class="container mx-auto pb-48 pt-36 px-4">
                    <div class="-mx-4 flex flex-wrap items-end space-y-6 lg:space-y-0">
                        <div class="px-4 w-full lg:w-6/12"> 
                            <div class="bg-secondary-500 p-6 relative rounded-t-full w-full">
                                <img src="https://images.unsplash.com/photo-1448459322288-678e8f2bb7f9?ixid=MnwyMDkyMnwwfDF8c2VhcmNofDQyN3x8YnVpbGRpbmd8ZW58MHx8fHwxNjI2ODE5NTEx&ixlib=rb-1.2.1q=85&fm=jpg&crop=faces&cs=srgb&w=1000&h=1000&fit=crop" class="rounded-l-full rounded-t-full"/>
                            </div>                             
                        </div>
                        <div class="pb-6 px-4 w-full lg:w-6/12"> 
                            <h1 class="font-bold mb-4 text-5xl text-secondary-500 sm:text-6xl lg:text-7xl 2xl:text-8xl">Architecture That Will Impress</h1>
                            <p class="mb-6 text-xl sm:pr-12">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pulvinar faucibus neque, nec rhoncus nunc ultrices sit amet. Curabitur ac sagittis neque, vel egestas est.</p><a href="#" class="border border-secondary-500 font-normal hover:bg-secondary-500 hover:text-white inline-block leading-relaxed px-6 py-2 text-secondary-500">Explorer Now</a> 
                        </div>
                    </div>
                </div>
            </section>
            <section class="py-24 text-center"> 
                <div class="container mx-auto px-4 relative"> 
                    <div class="flex flex-wrap -mx-4"> 
                        <div class="mx-auto px-4 w-full lg:w-6/12"> 
                            <h2 class="font-medium mb-4 text-primary-500 uppercase">Best near the city experience</h2>
                            <h3 class="font-bold mb-4 text-5xl text-secondary-500">Friendly, Stylish and Luxurious</h3> 
                        </div>
                        <div class="mx-auto px-4 w-full lg:w-8/12"> 
                            <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pulvinar faucibus neque, nec rhoncus nunc ultrices sit amet. Curabitur ac sagittis neque, vel egestas est. Aenean elementum, erat at aliquet hendrerit, elit nisl posuere tortor, id suscipit diam dui sed nisi. Morbi sollicitudin massa vel tortor consequat, eget semper nisl fringilla. Maecenas at hendrerit odio. Sed in mi eu quam suscipit bibendum quis at orci. Pellentesque fermentum nisl purus, et iaculis lectus pharetra sit amet.</p> 
                        </div>                         
                    </div>                     
                </div>                 
            </section>
            <div class="container mx-auto px-4 py-6"> 
                <div class="mx-auto w-full lg:w-6/12"> 
                    <div class="flex items-center nowrap"> 
                        <div class="bg-gray-300 flex-grow h-px max-w-full"></div>                         
                        <div class="px-10 w-auto"> <span class="bg-secondary-500 block h-4 rotate-45 transform w-4"></span> 
                        </div>                         
                        <div class="bg-gray-300 flex-grow h-px max-w-full"></div>                         
                    </div>
                </div>                 
            </div>
            <section class="bg-gray-50 py-20"> 
                <div class="container mx-auto px-4 relative"> 
                    <div class="flex flex-wrap -mx-4  items-center"> 
                        <div class="p-4 w-full lg:w-5/12"> 
                            <h2 class="font-bold leading-tight mb-2 text-5xl text-gray-800">Taking Your Staisfaction To New Heights</h2>
                            <p class="text-xl">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vitae congue tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac sagittis neque, vel egestas est.</p> 
                        </div>
                        <div class="p-4 w-full md:w-6/12 lg:order-first lg:w-7/12"> 
                            <img src="https://images.unsplash.com/photo-1554995207-c18c203602cb?ixid=MnwyMDkyMnwwfDF8c2VhcmNofDJ8fHJvb218ZW58MHx8fHwxNjI2NTU3NDMz&ixlib=rb-1.2.1q=85&fm=jpg&crop=faces&cs=srgb&w=1200&h=900&fit=crop"/> 
                        </div>
                        <div class="p-4 w-full md:w-6/12"> 
                            <img src="https://images.unsplash.com/photo-1591088398332-8a7791972843?ixid=MnwyMDkyMnwwfDF8c2VhcmNofDR8fGx1eHVyeSUyMGZ1cm5pdHVyZXxlbnwwfHx8fDE2MjY1NTc2MzY&ixlib=rb-1.2.1q=85&fm=jpg&crop=faces&cs=srgb&w=1200&h=900&fit=crop"/> 
                        </div>
                        <div class="p-4 w-full md:w-6/12"> 
                            <img src="https://images.unsplash.com/photo-1538944570562-2c9cb7857097?ixid=MnwyMDkyMnwwfDF8c2VhcmNofDI3fHxraXRjaGVufGVufDB8fHx8MTYyNjU1NzczMQ&ixlib=rb-1.2.1q=85&fm=jpg&crop=faces&cs=srgb&w=1200&h=900&fit=crop"/> 
                        </div>
                        <div class="p-4 w-full md:w-6/12 lg:order-last lg:w-7/12"> 
                            <img src="https://images.unsplash.com/photo-1534438327276-14e5300c3a48?ixid=MnwyMDkyMnwwfDF8c2VhcmNofDJ8fGd5bXxlbnwwfHx8fDE2MjY1NTczNjk&ixlib=rb-1.2.1q=85&fm=jpg&crop=faces&cs=srgb&w=1200&h=900&fit=crop"/> 
                        </div>
                        <div class="p-4 w-full lg:w-5/12"> 
                            <p class="mb-6 text-xl">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pulvinar faucibus neque, nec rhoncus nunc ultrices sit amet. Curabitur ac sagittis neque, vel egestas est. Aenean elementum, erat at aliquet hendrerit, elit nisl posuere tortor, id suscipit diam dui sed nisi. Morbi sollicitudin massa vel tortor consequat, eget semper nisl fringilla. Maecenas at hendrerit odio. Sed in mi eu quam suscipit bibendum quis at orci. Pellentesque fermentum nisl purus, et iaculis lectus pharetra sit amet.</p><a href="#" class="bg-secondary-600 font-normal hover:bg-secondary-700 inline-block px-6 py-2 text-white">View More</a> 
                        </div>                         
                    </div>                     
                </div>                 
            </section>
            <section class="bg-black bg-opacity-90 py-12 text-center text-gray-300"> 
                <div class="container mx-auto px-4 py-6"> 
                    <div class="-mx-4 flex flex-wrap mb-12"> 
                        <div class="mx-auto px-4 w-full lg:w-9/12"> 
                            <h2 class="font-medium mb-4 text-gray-500 uppercase">All the activities you need</h2>
                            <h3 class="font-bold mb-4 text-5xl text-color3-500">Situated In The Heart of The City</h3> 
                        </div>
                        <div class="mx-auto px-4 w-full lg:w-8/12"> 
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vitae congue tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac sagittis neque, vel egestas est.</p> 
                        </div>                         
                    </div>                     
                    <img src="https://images.unsplash.com/photo-1505273471770-de630b5d5c5d?ixid=MnwyMDkyMnwwfDF8c2VhcmNofDIwfHxza3lsaW5lfGVufDB8fHx8MTYyNjU0OTQ4NQ&ixlib=rb-1.2.1q=85&fm=jpg&crop=faces&cs=srgb&w=1200&h=500&fit=crop" class="w-full"/>
                </div>                 
                <div class="container mx-auto px-4 py-12"> 
                    <div class="flex flex-wrap -mx-4"> 
                        <div class="p-4 w-full sm:w-6/12 lg:w-3/12"> 
                            <h2 class="font-bold mb-1 text-5xl text-color3-500 xl:text-6xl">355K</h2> 
                            <p>sq ft area</p> 
                        </div>                         
                        <div class="p-4 w-full sm:w-6/12 lg:w-3/12"> 
                            <h2 class="font-bold mb-1 text-5xl text-color3-500 xl:text-6xl">50K</h2> 
                            <p>sq ft amenities space</p> 
                        </div>                         
                        <div class="p-4 w-full sm:w-6/12 lg:w-3/12"> 
                            <h2 class="font-bold mb-1 text-5xl text-color3-500 xl:text-6xl">250</h2> 
                            <p>apartments</p> 
                        </div>                         
                        <div class="p-4 w-full sm:w-6/12 lg:w-3/12"> 
                            <h2 class="font-bold mb-1 text-5xl text-color3-500 xl:text-6xl">15</h2> 
                            <p>minutes from city</p> 
                        </div>                         
                    </div>                     
                </div>
                <div class="container mx-auto px-4 py-6"> 
                    <div class="mx-auto w-full lg:w-6/12"> 
                        <div class="flex items-center nowrap"> 
                            <div class="bg-gray-600 flex-grow h-px max-w-full"></div>                             
                            <div class="px-10 w-auto"> <span class="bg-color3-500 block h-4 rotate-45 transform w-4"></span> 
                            </div>                             
                            <div class="bg-gray-600 flex-grow h-px max-w-full"></div>                             
                        </div>
                    </div>                     
                </div>
                <div class="container mx-auto px-4 py-12"> 
                    <div class="-mx-4 flex flex-wrap justify-center"> 
                        <div class="px-4 py-6 w-full md:w-6/12 lg:pt-12 lg:w-4/12"> 
                            <h2 class="font-bold mb-6 text-4xl">Shop</h2>
                            <img src="https://images.unsplash.com/photo-1574634534894-89d7576c8259?ixid=MnwyMDkyMnwwfDF8c2VhcmNofDZ8fHNob3BwaW5nfGVufDB8fHx8MTYyNjU5MTY3Ng&ixlib=rb-1.2.1q=85&fm=jpg&crop=faces&cs=srgb&w=400&h=500&fit=crop" class="mb-6 w-full"/>
                            <h3 class="font-bold mb-1 text-2xl text-color3-500">Discover Something New</h3> 
                            <p class="mb-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vitae congue tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac sagittis neque, vel egestas est.</p><a href="#" class="border border-color3-500 font-normal hover:bg-color3-500 hover:text-secondary-500 inline-block px-6 py-2 text-color3-500">Explorer Now</a> 
                        </div>
                        <div class="px-4 py-6 w-full md:w-6/12 lg:w-4/12"> 
                            <h2 class="font-bold mb-6 text-4xl">Food &amp; Drinks</h2>
                            <img src="https://images.unsplash.com/photo-1443131307017-4097c8ac7763?ixid=MnwyMDkyMnwwfDF8c2VhcmNofDIwfHxmb29kJTIwZHJpbmt8ZW58MHx8fHwxNjI2NTkxNjU5&ixlib=rb-1.2.1q=85&fm=jpg&crop=faces&cs=srgb&w=400&h=500&fit=crop" class="mb-6 w-full"/>
                            <h3 class="font-bold mb-1 text-2xl text-color3-500">Shine &amp; Dine</h3> 
                            <p class="mb-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vitae congue tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac sagittis neque, vel egestas est.</p><a href="#" class="border border-color3-500 font-normal hover:bg-color3-500 hover:text-secondary-500 inline-block px-6 py-2 text-color3-500">Explorer Now</a> 
                        </div>
                        <div class="px-4 py-6 w-full md:w-6/12 lg:pt-12 lg:w-4/12"> 
                            <h2 class="font-bold mb-6 text-4xl">Gym &amp; Park</h2>
                            <img src="https://images.unsplash.com/photo-1586401100295-7a8096fd231a?ixid=MnwyMDkyMnwwfDF8c2VhcmNofDE2MXx8Zml0bmVzc3xlbnwwfHx8fDE2MjY1OTE5NTY&ixlib=rb-1.2.1q=85&fm=jpg&crop=faces&cs=srgb&w=400&h=500&fit=crop" class="mb-6 w-full"/>
                            <h3 class="font-bold mb-1 text-2xl text-color3-500">Score Your Goals</h3> 
                            <p class="mb-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vitae congue tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac sagittis neque, vel egestas est.</p><a href="#" class="border border-color3-500 font-normal hover:bg-color3-500 hover:text-secondary-500 inline-block px-6 py-2 text-color3-500">Explorer Now</a> 
                        </div>                         
                    </div>                     
                </div>
            </section>
            <section class="bg-secondary-500 py-24 text-center"> 
                <div class="container mx-auto px-4 relative "> 
                    <h2 class="font-bold mb-6 text-3xl text-white">Call us today and receive a guided tour.</h2><a href="#" class="bg-white font-normal hover:bg-gray-200 inline-block leading-relaxed px-6 py-2 text-secondary-500">Contact Now</a> 
                </div>                 
            </section>
            <footer class="bg-primary-500 font-light pt-12 text-white"> 
                <div class="container mx-auto px-4 relative"> 
                    <div class="flex flex-wrap -mx-4"> 
                        <div class="w-full p-4  xl:mr-auto xl:w-4/12"> <a href="#" class="font-bold font-serif hover:text-color3-400 inline-flex items-end mb-6 nowrap text-3xl text-color3-500 uppercase" target> <svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400" height="1.5em" width="1.5em" fill="currentColor" class="mr-3">
                                    <path d="M400 400H0V200a201.483 201.483 0 014.063-40.307 198.9 198.9 0 0130.094-71.515 200.583 200.583 0 0187.994-72.461 199 199 0 0137.542-11.654 201.952 201.952 0 0180.614 0 198.9 198.9 0 0171.515 30.093 200.583 200.583 0 0172.461 87.994 199 199 0 0111.654 37.542A201.482 201.482 0 01400 200zM200 50c-82.71 0-150 67.29-150 150s67.29 150 150 150h150V200c0-82.711-67.29-150-150-150z"/>
                                </svg><span class="text-2xl">Metro Tower</span></a> 
                            <p class="mb-4 text-sm">                             Duis pharetra venenatis felis, ut tincidunt ipsum consequat nec. Fusce et porttitor libero, eu aliquam nisi. Nam finibus ullamcorper semper. </p> 
                            <div class="mb-6"> <a href="#" class="hover:text-color3-500 hover:underline">+1 234 567-890</a> <br> <a href="#" class="hover:text-color3-500 hover:underline">hello@fantico.com</a> 
                            </div>                             
                            <div class="flex-wrap inline-flex space-x-3"> <a href="#" class="hover:text-color3-500 hover:underline" aria-label="facebook"> <svg viewBox="0 0 24 24" fill="currentColor" class="h-5 w-5"> 
                                        <path d="M14 13.5h2.5l1-4H14v-2c0-1.03 0-2 2-2h1.5V2.14c-.326-.043-1.557-.14-2.857-.14C11.928 2 10 3.657 10 6.7v2.8H7v4h3V22h4v-8.5z"/> 
                                    </svg></a> <a href="#" class="hover:text-color3-500 hover:underline" aria-label="twitter"> <svg viewBox="0 0 24 24" fill="currentColor" class="h-5 w-5"> 
                                        <path d="M22.162 5.656a8.384 8.384 0 0 1-2.402.658A4.196 4.196 0 0 0 21.6 4c-.82.488-1.719.83-2.656 1.015a4.182 4.182 0 0 0-7.126 3.814 11.874 11.874 0 0 1-8.62-4.37 4.168 4.168 0 0 0-.566 2.103c0 1.45.738 2.731 1.86 3.481a4.168 4.168 0 0 1-1.894-.523v.052a4.185 4.185 0 0 0 3.355 4.101 4.21 4.21 0 0 1-1.89.072A4.185 4.185 0 0 0 7.97 16.65a8.394 8.394 0 0 1-6.191 1.732 11.83 11.83 0 0 0 6.41 1.88c7.693 0 11.9-6.373 11.9-11.9 0-.18-.005-.362-.013-.54a8.496 8.496 0 0 0 2.087-2.165z"/> 
                                    </svg></a> <a href="#" class="hover:text-color3-500 hover:underline" aria-label="instagram"> <svg viewBox="0 0 24 24" fill="currentColor" class="h-5 w-5"> 
                                        <path d="M12 2c2.717 0 3.056.01 4.122.06 1.065.05 1.79.217 2.428.465.66.254 1.216.598 1.772 1.153a4.908 4.908 0 0 1 1.153 1.772c.247.637.415 1.363.465 2.428.047 1.066.06 1.405.06 4.122 0 2.717-.01 3.056-.06 4.122-.05 1.065-.218 1.79-.465 2.428a4.883 4.883 0 0 1-1.153 1.772 4.915 4.915 0 0 1-1.772 1.153c-.637.247-1.363.415-2.428.465-1.066.047-1.405.06-4.122.06-2.717 0-3.056-.01-4.122-.06-1.065-.05-1.79-.218-2.428-.465a4.89 4.89 0 0 1-1.772-1.153 4.904 4.904 0 0 1-1.153-1.772c-.248-.637-.415-1.363-.465-2.428C2.013 15.056 2 14.717 2 12c0-2.717.01-3.056.06-4.122.05-1.066.217-1.79.465-2.428a4.88 4.88 0 0 1 1.153-1.772A4.897 4.897 0 0 1 5.45 2.525c.638-.248 1.362-.415 2.428-.465C8.944 2.013 9.283 2 12 2zm0 5a5 5 0 1 0 0 10 5 5 0 0 0 0-10zm6.5-.25a1.25 1.25 0 0 0-2.5 0 1.25 1.25 0 0 0 2.5 0zM12 9a3 3 0 1 1 0 6 3 3 0 0 1 0-6z"/> 
                                    </svg></a><a href="#" class="hover:text-color3-500 hover:underline" aria-label="linkedin"> <svg viewBox="0 0 24 24" fill="currentColor" class="h-5 w-5"> 
                                        <path d="M6.94 5a2 2 0 1 1-4-.002 2 2 0 0 1 4 .002zM7 8.48H3V21h4V8.48zm6.32 0H9.34V21h3.94v-6.57c0-3.66 4.77-4 4.77 0V21H22v-7.93c0-6.17-7.06-5.94-8.72-2.91l.04-1.68z"/> 
                                    </svg></a><a href="#" class="hover:text-color3-500 hover:underline" aria-label="youtube"> <svg viewBox="0 0 24 24" fill="currentColor" class="h-5 w-5"> 
                                        <path d="M21.543 6.498C22 8.28 22 12 22 12s0 3.72-.457 5.502c-.254.985-.997 1.76-1.938 2.022C17.896 20 12 20 12 20s-5.893 0-7.605-.476c-.945-.266-1.687-1.04-1.938-2.022C2 15.72 2 12 2 12s0-3.72.457-5.502c.254-.985.997-1.76 1.938-2.022C6.107 4 12 4 12 4s5.896 0 7.605.476c.945.266 1.687 1.04 1.938 2.022zM10 15.5l6-3.5-6-3.5v7z"/> 
                                    </svg></a> 
                            </div>                             
                        </div>                         
                        <div class="w-full p-4  xl:w-2/12 sm:w-4/12"> 
                            <h2 class="font-bold mb-8 text-color3-500 text-xl uppercase">                             About </h2> 
                            <ul> 
                                <li class="mb-4"> <a href="#" class="hover:text-color3-500 hover:underline">Get Quote</a> 
                                </li>                                 
                                <li class="mb-4"> <a href="#" class="hover:text-color3-500 hover:underline">Enterprise Plan</a> 
                                </li>                                 
                                <li class="mb-4"> <a href="#" class="hover:text-color3-500 hover:underline">Become an Affiliate</a> 
                                </li>                                 
                                <li class="mb-4"> <a href="#" class="hover:text-color3-500 hover:underline">Our Portfolio</a> 
                                </li>                                 
                            </ul>                             
                        </div>                         
                        <div class="w-full p-4  xl:w-2/12 sm:w-4/12"> 
                            <h2 class="font-bold mb-8 text-color3-500 text-xl uppercase">                             Services </h2> 
                            <ul> 
                                <li class="mb-4"> <a href="#" class="hover:text-color3-500 hover:underline">Web Design</a> 
                                </li>                                 
                                <li class="mb-4"> <a href="#" class="hover:text-color3-500 hover:underline">Web Development</a> 
                                </li>                                 
                                <li class="mb-4"> <a href="#" class="hover:text-color3-500 hover:underline">WordPress</a> 
                                </li>                                 
                                <li class="mb-4"> <a href="#" class="hover:text-color3-500 hover:underline">Digital Marketing</a> 
                                </li>                                 
                                <li class="mb-4"> <a href="#" class="hover:text-color3-500 hover:underline">Content Writing</a> 
                                </li>                                 
                            </ul>                             
                        </div>                         
                        <div class="w-full p-4  xl:w-2/12 sm:w-4/12"> 
                            <h2 class="font-bold mb-8 text-color3-500 text-xl uppercase">                             Other </h2> 
                            <ul> 
                                <li class="mb-4"> <a href="#" class="hover:text-color3-500 hover:underline">Business Stories</a> 
                                </li>                                 
                                <li class="mb-4"> <a href="#" class="hover:text-color3-500 hover:underline">Learning</a> 
                                </li>                                 
                                <li class="mb-4"> <a href="#" class="hover:text-color3-500 hover:underline">Licence</a> 
                                </li>                                 
                                <li class="mb-4"> <a href="#" class="hover:text-color3-500 hover:underline">Refund Policy</a> 
                                </li>                                 
                                <li class="mb-4"> <a href="#" class="hover:text-color3-500 hover:underline">Terms of Service</a> 
                                </li>                                 
                            </ul>                             
                        </div>                         
                    </div>                     
                    <div class="py-4 text-center"> 
                        <hr class="mb-4 opacity-25"> 
                        <p class="text-sm">Copyright &copy; 2021 Company Name</p> 
                    </div>                     
                </div>                 
            </footer>
        </main>
    </body>
</html>
